@import "~antd/dist/antd.css";
.container {
  margin: 3rem auto;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10rem;
}

.selected-rows-btn {
  margin-bottom: 3rem;
}

.ag-grid {
  text-align: initial;
}

.test {
  color: black;
}
